// Login
// -----------------------------------------------------------------------------
.section-register {
  padding: $padding;
  position: relative;
  text-align: center;

  .wallas-logo {
    height: $avatar * 2;
    width: $avatar * 2;

    @media #{$mobile} {
      height: $avatar * .66;
    }
  }

  .register-form {
    left: 50%;
    padding: $padding * 2;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    input {
      display: block;
      margin: $margin 0;
      min-width: 300px;
      width: 50%;
    }

    .logo {
      border-radius: 50%;
      cursor: pointer;
      height: $avatar;
      margin: 0 auto;
      margin-bottom: $margin;
      min-width: 0;
      padding: 0;
      position: relative;
      text-align: center;
      width: $avatar;

      @media #{$mobile} {
        height: $avatar * .66;
        width: $avatar * .66;
      }

      &::-webkit-file-upload-button {
        @include vertical-center;
        appearance: none;
        background: transparent;
        border: 0;
        color: $black;
        cursor: pointer;
        font-size: $font-size-small;
        text-align: center;
        white-space: normal;
        width: $avatar;

        @media #{$mobile} {
          width: $avatar * .66;
        }
      }
    }

    button {
      margin: $margin 0;
    }

    a {
      color: $smoke-dark;
      display: block;
      margin: $margin 0 0 0;
    }
  }
}
