// Define some extends
// -----------------------------------------------------------------------------
%body-copy {
  color: $copy-color;
  font-family: $sans-stack;
  font-size: $font-size;
  font-weight: normal;
  line-height: $line-height;
}

%box-shadow {
  border-radius: $border-radius;
  box-shadow: 0 0 .33rem 0 rgba($black, .15);
}

%inline-block {
  display: inline-block;
  margin-right: -5px;
  vertical-align: top;
}
